/* Home.module.css */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
 
  .container {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

  .fullWidthContainer {
    max-width: '100%';
    width: '100%';
    margin: 0;
    padding: 0
  }

.centeredGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 24px;
  color: #1da1f2;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
}

.link {
  text-decoration: none;
  color: #1da1f2;
  font-family: 'Lato', sans-serif;
}

.section {
  background-color: #ffffff;
  /* border-radius: 8px; */
  padding: 0;
  margin-bottom: 20px;
  /* border: 1px solid #ccc; */
  font-family: 'Lato', sans-serif;
}

.blueSection {
  background-color: #87CEEB;
  /* border-radius: 8px; */
  padding: 0;
  /* border: 1px solid #ccc; */
  font-family: 'Lato', sans-serif;
}

.centeredSection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.sectionTitle {
  font-size: 20px;
  color: #4B0082;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.productColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  background-color: #87CEEB;
  /* border: 0.5px solid black; */
  font-family: 'Lato', sans-serif;
}

.productTitle {
  font-size: 18px;
  color: #1da1f2;
  font-family: 'Lato', sans-serif;
}

.sectionText {
  font-size: 16px;
  color: #14171a;
  font-family: 'Lato', sans-serif;
}

.sectionBackground {
  background-color: #87CEEB;
  font-family: 'Lato', sans-serif;
}

.cardStyle {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .section {
    padding: 10px;
  }

  .blueSection {
    padding: 10px;
  }

  .sectionTitle {
    font-size: 18px;
  }

  .productColumn {
    padding-bottom: 10px;
  }

  .productTitle {
    font-size: 16px;
  }

  .sectionText {
    font-size: 14px;
  }

  .cardStyle {
    font-size: 14px;
  }
}